.landing-page-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .brand-logo {
        font-weight: 800;
        text-align: center;
        margin: 0;
        user-select: none;
        font-size: 10rem;
        background: -webkit-linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        animation: slide-up-opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1) 500ms forwards;
    }

    .login-btn-link {
        text-decoration: none;

        .login-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-weight: bold;
            font-size: large;
            padding: 15px 20px;
            background-color: #4f5bd5;
            transition: 0.3s all ease-in-out;
            border: none;
            opacity: 0;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            animation: slide-up-opacity 1.6s cubic-bezier(1, 0, 0.2, 1) 500ms forwards;

            &:hover {
                background-color: #2f39ad;
            }
        }
    }

    /* Responsive styles for medium-sized devices */
    @media (max-width: 768px) {
        .brand-logo {
            font-size: 6rem;
        }

        .login-btn-link .login-btn {
            font-size: medium;
        }
    }

    /* Responsive styles for small-sized devices */
    @media (max-width: 480px) {
        .brand-logo {
            font-size: 4rem;
        }

        .login-btn-link .login-btn {
            font-size: small;
        }
    }
}

@keyframes slide-up-opacity {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// bg animation

.area {
    position: absolute;
    top: 0;
    left: 0;
    background: hsla(42, 100%, 96%, 0.495);
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.circles li {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
    svg {
        opacity: 0.5;
        filter: blur(3px);
    }
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
